<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <style>
      * {
        height: 200px;
      }
      h1 {
        display: flex;
        justify-content: center;
      }
      .work {
        display: flex;
        justify-content: center;
        align-content: center;
      }
    </style>
  </head>
  <body>
    <h1>Welcome Home</h1>
    <a class="work" href="/index1">Classwork</a>
    <a class="work" href="/index2">Homework</a>
  </body>
</html>
