<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <style>
      * {
        height: 300px;
        border: solid, black, 2px;
      }
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <form action="/login" class="container">
      <label for="">Username</label>
      <input type="text" name="" id="username" />

      <label for="">Password</label>
      <input type="text" name="" id="password" />
    </form>
  </body>
</html>
